
.hero-section {
  background-color: #74c69d;

  padding: 10% 8%; 
}

.hero-content,
.hero-sub-heading,
.hero-main-heading,
.hero-section-text,
.hero-cta-button {
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.hero-sub-heading {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--text-white, #fff);
  padding-bottom: 5%;
}

.hero-main-heading {
  font-family: "Crimson Text";
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: var(--text-white, #fff);
  padding-bottom: 5%;
}

.hero-section-text {
  font-size: 15px;
  line-height: 20px;
  color: var(--color-white-75, rgba(255, 255, 255, 0.75));
  margin-bottom: 5%;
}

/* Hero CTA button styles */
.hero-cta-button {
  border-radius: 5px;
  background: #fff;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 20px;
  line-height: 125%;
}

/* Hover effect for CTA button */
.hero-cta-button:hover {
  background-color: black;
  color: white;
}


/* Mobile devices */
@media (max-width: 767px) {
  .hero-cta-button,
  .hero-content {
    font-size: 18px;
  }

  svg.mobile--svg {
    width: 290px;
    width: 335px;
  }

  .hero-content {
    padding-right: 5%;
    width: 335px;
    order: 2;
  }
  .hero-main-heading {
    font-size: 28px;
    width: 335px;
  }
  .hero-section-text {
    width: 335px;
  }
  .hero-section {
    
    padding: 10% 5%;
}
.header {
  padding: 0 5%;
}
.hero-sub-heading {
  padding-top: 5%;
}
}

@media (max-width: 361px) {
  .hero-section-text,.hero-main-heading{
    width: 300px;
  }
  svg.mobile--svg{
    width:290px;
  }
}


/* Tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-section {
    /* padding: 10% 0; */
        padding: 10% 11%;
  }
}

/* Desktop/laptop devices */
@media (min-width: 1024px) {
  .hero-section {
    padding: 10% 8%;
  }
  .hero-content {
    padding-right: 10%;
  }
}

/* Media Query for screens from 1440px and larger */
@media (min-width: 1440px) {
  .hero-section--div {
    width: 1180px;
  }
}

