/* Common styles for both desktop and mobile */
.header {
  width: 100%;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 400;
}
.logo {
  display: flex;
  margin-right: 10px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
/* Sticky header styles for laptops */
.desktop-menu,
.hide-drawer-desktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #74c69d;
  color: var(--color-white-100, #fff);
  text-align: right;
  font-size: 20px;
}

/* Hide the desktop menu on mobile devices */
@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
  .title {
    font-size: 18px; 
  }
}

 /* mobile header */ 
.mobile-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #74c69d;
}

/* Mobile content layout */
.mobile-content {
  display: flex;
  align-items: center;
}

/* Logo and title styles */
.logo {
  margin-right: 10px; 
}




/* Add these styles for sticky header on laptops */
.desktop-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #74c69d;
  color: var(--color-white-100, #fff);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

/* Add these styles to hide the Drawer on desktop */
.hide-drawer-desktop {
  display: none;
}

/* Media query to hide the desktop menu on mobile devices */
@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
  
}

/* Additional styling for mobile header */
.mobile-header {
  background-color: #74c69d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Query for screens from 1440px and larger */
@media (min-width: 1440px) {
  .desktop-menu {
    width: 1180px;
  }
}
