/* TeamMember.css */
.team-member-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.team-member-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member-info {
  font-size: 24px;
  text-align: center;
}
.ant-card-cover {
  padding-top: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.our-team-section {
  padding: 5%;
}

.team-member-info--name {
  font-family: 'Crimson Text';
  font-size: 24px;
}
.team-member--occupation {
  font-size: 16px;
}