.footer {
  background-color: #74C69D;
  padding: 24px;
}

.footer-content {
  color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-icon {
  color:#ffffff;
  display: flex;
  align-items: center;
}

/* for laptop devices */
@media (min-width: 1024px) {
  .footer-content {
    flex-direction: row;
  }
  .footer-icon {
    margin-right: auto;
  }
}

/* for mobile devices */
@media (max-width: 767px) {
  .footer-content {
    flex-direction: column; 
    gap: 20px; 
  }
  .footer-icon {
    align-self: center; 
    margin-right: 0; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-content {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 14px;
}
}
