/* App.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #74C69D;
  color: white;
}

.logo {
  display: inline-block;
  margin-right: 10px;

}

.title {
  font-size: 1.5rem;
}

/* .burger-icon {
  
}  */
