*{
  margin: 0;
  padding: 0;
}

/* App.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #74C69D;
  color: white;
  font-family: 'Work Sans';
}

.logo {
  display: flex;
  margin-right: 10px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Work Sans';
}

.burger-icon {
  display: flex;
  align-items: center;
  
}

.burger-icon svg {
  fill: white;
}
