/*gaps between heading, text as figma START  */
.our-team--text-area {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.heading.our-team--heading {
  margin-bottom: 16px;
}
/*  gaps between heading, text as figma END */

.team-btn {
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background: #000; /* Updated background color */
  color: #fff; /* Text color */
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

@media (max-width: 768px) {
  .testyo {
    padding: 0 10%;
    row-gap: 40px !important;
  }
}

/* Default styling */
.team-btn-col {
  display: flex;
  justify-content: center;
}

/* Media query for desktop/laptop */
@media (min-width: 768px) {
  .team-btn-col {
    margin-top: 35px;
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .team-btn-col {
    margin-bottom: 20px;
  }
  .team-member-card {
    width: 279px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
}
.ant-col.ant-col-xs-24.ant-col-sm-12.ant-col-md-6.css-dev-only-do-not-override-fpg3f5{
  padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-btn-div {
  padding-top: 8%;
}
}
